body {
	margin: 15px;
}
h3, p {
	font-size: 14px;
	margin: 5px 10px;
}
h3 {
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
p {
	word-wrap: normal;
}
#wrapper {
	display: flex;
	justify-content: space-between;
}
#container {
	width: 80%;
	margin-right: 15px;
	padding: 10px 10px 0 10px;
}
#table {
	overflow: hidden;
    border-radius: 40px;
    outline: 5px solid #555555;
    outline-offset: 5px;
	background-color: white;
}
#table > div {
	grid-template-columns: repeat(8, 1fr);
	min-width: 100%;
	gap: 5px;
}
.firstGrayCell, .dateCells {
	background: #555555;
	font-size: 1vw;
	color: white;
	text-align: center;
	padding: 20px;
	margin: 0 -5px;
}
.namesCells {
	display: flex;
	justify-content: center;
    align-items: center;
	font-size: 1.4vw;
	font-weight: bold;
	color: #555555;
	background: white;
	padding: 20px;
	outline: 1px solid #555555;
	border-radius: 0 15px 15px 0;
}
.taskCells {
    height: 100px;
	background: #7f8ec9;
	align-items: center;
	border-radius: 15px;
    overflow: auto;
}
#buttons {
	display: flex;
	justify-content: space-between;
	margin-top: 15px;
}
#buttons div {
    width: 150px;
    height: 50px;
	display: flex;
	justify-content: center;
    align-items: center;
    color: white;
    background: #555555;
	user-select: none;
	cursor: pointer;
	border-radius: 15px;
	
}
#buttons div:hover {
	color: #555555;
	background: white;
	outline: 1px solid #555555;
	transition: all ease 0.3s;
}
#buttons div:active {
	outline: 2px solid #7f8ec9;
	outline-offset: 1px;
}
#prev {left: 0px;}
#next {right: 0px;}
#backlog {
	width: 20%;
	max-height: 585px;
	background: #555555;
	color: white;
	padding: 10px;
    border-radius: 15px;
	overflow: overlay;
}
#backlog h2 {
	text-align: center;
}
.objectives {
	height: 100%;
    background: white;
    color: #555555;
	padding: 10px;
    box-sizing: border-box;
	cursor: all-scroll;
	border-radius: 15px;
	outline: 1px solid #555555;
    outline-offset: -1px;
	overflow: overlay;
}
#backlog > .objectives {
	max-height: 70px;
    margin-bottom: 5px;
}
.active {display: grid;}
.hide {display: none;}
.hovered {background: white;}

@media (max-width: 1024px) {
	#backlog {
		display: none;
	}
	#container {
		width: 100%;
		margin-right: 0;
	}
}
